@use './variables' as v;

.bottom-bar .logo img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(5314%) hue-rotate(77deg) brightness(90%) contrast(105%);
}

.logo-text {
    line-height: 2;
}

.bottom-bar .wrapper {
    display: flex;
    margin-top: 100px;
    gap: 40px;
}

.social-media img {
    width: 30px;
    height: 30px;
    padding: 8px;
    background: green;
    border-radius: 50%;
}

.bottom-bar .container-one {
    display: flex;
    gap: 40px;
    flex-basis: 50%;
}

.bottom-bar .social-media {
    display: flex;
    justify-content: space-between;
}

.social-media-container {
    margin-top: 30px;
}

.logo-and-socials-container {
    width: 49%;
}

.quick-links-container h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottom-bar .container-two {
    display: flex;
}

.recent-products {
    flex-basis: 50%;
    margin-right: 0px;
    margin-left: -10px;
    padding-right: 0px;
}

.recent-products-container {
    display: flex;
    flex-direction: column;
    margin-right: -35px;
}

.container-two h5 {
    margin-top: 0px;
}

.lettuce,
.bean,
.olives {
    width: 70px;
}

.recent-products-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fresh-products {
    display: flex;
}

.fresh-products p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.fresh-products-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.pages {
    line-height: 3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
}

.pages a {
    text-decoration: none;
}

.pages li {
    font-size: 0.75rem;
}

.subscribe {
    flex-basis: 50%;
}

.subscribe .text-container {
    padding: 0px;
    text-align: left;
}