@use './variables' as v;

.bottom-bar {
    margin-top: 50px;
}

.bottom-bar .logo img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(5314%) hue-rotate(77deg) brightness(90%) contrast(105%);
}

.social-media img {
    width: 30px;
    height: 30px;
    padding: 8px;
    background: green;
    border-radius: 50%;
}

.logo-text {
    line-height: 2;
} 

.bottom-bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.bottom-bar-wrapper h5 {
    margin-top: 0px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.logo-and-socials-container {
    width: 45%;
}

.social-media-container ul {
    display: flex;
    justify-content: space-between;
}

.quick-links-container {
    width: 49%;
}

.pages a {
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 3;
}

.container-two {
    display: flex;
    justify-content: space-between;
    width: 49%;
}

.recent-products-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recent-products-list li {
    display: flex;
    gap: 10px
}

.recent-products img {
    width: 70px;
}

.fresh-products p {
    margin-bottom: 0px;
    margin-top: 0px;
} 

.fresh-products-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe {
    width: 40%;
} 