@use './variables' as v;

.contact-main .contact-main-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-main .contact-main-wrapper h3 {
    margin-top: 0px;
}

.contact-info-container {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-form-container {
    flex-basis: 48%;
    box-shadow: 0px 0px 3px silver;
    padding: 25px 25px 0px 25px;

}

.contact-field {
    box-shadow: 0px 0px 3px silver;
    border-left: solid 5px green;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
}

.contact-field h3, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-field h3 {
    margin-bottom: 10px;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
}

#full-name {
    width: 50%;
}

#email-address {
    width: 50%;
}

#phone-number {
    width: 50%;
}

#website-link {
    width: 50%;
}

#subject-line {
    width: 100%;
}

.contact-form-container .button {
    margin: 25px auto;
}