@use './variables' as v;

.gallery {
    background: url(/Users/Newuser/Documents/Juno/week-3/project-1/francella-fiallos-project-1/organic-project/assets/grass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    min-height: 100vh;
}

.gallery .text-container {
    margin-top: 150px;
}

.categories {
    padding: 0 60px;
}

.category-items {
    display: flex;
    justify-content: space-between;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.first-row {
    width: 32%;
}

.first-row-image {
    width: 100%;
    object-fit: cover;
}

.second-row {
    width: 49%;
}

.second-row-image {
    width: 100%;
    object-fit: cover;
}

.third-row {
    width: 32%;
}

.third-row-image {
    width: 100%;
    object-fit: cover;
}