header {
    background: url(/Users/Newuser/Documents/Juno/week-3/project-1/francella-fiallos-project-1/organic-project/assets/header/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }

header .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
 }