@use './variables';

.hero-wrapper {
    display: flex;
    position: relative;
    top: 75px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-width: 310px;
}

.hero-image-container {
    width:60%;
    min-width: 400px;
}

.hero-image-container img {
    width:100%;
}

header .button {
    margin: 30px 0 0 0;
    width: 100px;
}

header h1 {
    font-size: 1.75rem;
    line-height: 1.5;
}

header p {
    margin: 20px 0 0 0;
}