.hero-wrapper {
    display: flex;
    position: relative;
    top: 75px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-width: 310px;
}

.hero-image-container {
    width:60%;
    min-width: 465px;
}

.hero-image-container img {
    width:100%;
}

header .button {
    width: 100px;
}

header h1 {
    font-size: 1.75rem;
}

header p {
    font-size: 0.75rem;
}