@use './variables' as v;

.our-products {
    margin-top: 175px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 100px; 
 }
 
 .text-container h3 {
     margin: 0 auto;
 }
 
 .our-products .block-wrapper {
     display: grid;
     margin: 0 auto;
     gap: 5px;
     row-gap: 30px;
     grid-template-columns: 25% 25% 25% 25%;
     grid-auto-rows: 50% 50%;
     justify-content: space-between;
     padding-top: 30px;
 }
 
 .block {
     width: 170px;
 }
 
 .block .text {
     border: 2px solid whitesmoke;
 }
 
 .block .image {
     width: 170px;
 }
 
 .image img {
     width: 100%;
 }
 
 .our-products .box-text {
     background-color: v.$green;
     display: flex;
     justify-content: center;
 }
 
 .block .text {
     margin-top: -5px;
     margin-bottom: -15px;
     padding-bottom: 20px;
 }
 
 .cart {
     text-transform: none;
 }
 
 .button-container {
     display: flex;
     justify-content: center;
     margin-top: 100px;
 }