@use './variables' as v;

html { 
    font-family: v.$primary-font;
    // font-family: v.$secondary-font;
    font-size: 125%;
    background: #fff;
}

p {
    font-size: 0.75rem;
}


.price {
    color: v.$green;
}

.price-change {
    color: v.$green;
    text-decoration: line-through;
}