$primary-logo-color: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(5314%) hue-rotate(77deg) brightness(90%) contrast(105%);

$green: #207200;

$white: #fff;

$black: #1A2428;

$primary-font: "Barlow", sans-serif;

$secondary-font: "Lora", serif;
