$primary-logo-color: brightness(0) saturate(100%) invert(28%) sepia(59%) saturate(5314%) hue-rotate(77deg) brightness(90%) contrast(105%);

$green: #207200;

$light-green: rgba(32, 114, 0, 0.69);

$white: #fff;

$black: #1A2428;

$border-color: whitesmoke;

$box-shadow-color-1: silver;

$form-color: silver;

$primary-font: "Barlow", sans-serif;

$secondary-font: "Lora", serif;
